@import '../core/Variables.scss';
.header {
  background-color: $dark;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  &__img {
    width: 300px;
    padding: 10px;
  }
}
