@import '../core/Variables.scss';

.NotFoundPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
    gap: 30px;
    background-color: $dark;
    color: antiquewhite;
    font-family: $font;
    height: 80vh;
    &__img {
        width: 315px;
    }
}